@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Very_Dark_Grayish_Blue: hsl(217, 19%, 35%);
  --Desaturated_Dark_Blue: hsl(214, 17%, 51%);
  --Grayish_Blue: hsl(212, 23%, 69%);
  --Light_Grayish_Blue: hsl(210, 46%, 95%);
}

body {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  background: var(--Light_Grayish_Blue);
}

.container {
  max-width: 59em;
  margin: 30px;
  display: flex;
  background: white;
  border-radius: 18px;
}

.container .artical-image {
  max-width: 40%;
  height: auto;
  border-radius: 18px 0 0 18px;
}

.c2 {
  padding: 45px;
}

.artical h1 {
  color: var(--Very_Dark_Grayish_Blue);
  font-weight: 700;
  font-size: 1.6rem;
}

.artical p {
  font-size: large;
  color: var(--Desaturated_Dark_Blue);
  font-weight: 500;
  margin: 25px 0;
}

.user-area {
  display: flex;
  align-items: center;
}

.user-area .user-image {
  max-width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.user-area .name-date {
  display: flex;
  flex-direction: column;
}

.user-area .name-date .name {
  font-weight: 700;
  font-size: 1.1rem;
  opacity: 80%;
}

.user-area .name-date .date {
  font-size: 1.1rem;
  color: var(--Grayish_Blue);
}

.user-area #share {
  border: none;
  margin-left: auto;
  border-radius: 50%;
  cursor: pointer;
  border: 8px solid transparent;

  &:hover {
    background-color: var(--Desaturated_Dark_Blue);
  }
}

.user-area #share img {
  width: 15px;
  height: auto;
  margin: 10px;
}

.share-container {
  display: none;
  position: absolute;
  background: var(--Very_Dark_Grayish_Blue);
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 10px 50px;
  border-radius: 10px;
}
.share-container button#share {
  margin-left: 10px;
  border: none;
  background: none;
}

.user-area button#share {
  border: none;
  background: none;
  cursor: pointer;
}

.share-container img {
  width: 25px;
  height: auto;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.share-container:hover img {
  transform: scale(1.2);
}

#shr {
  text-transform: uppercase;
  color: var(--Grayish_Blue);
  font-size: large;
  letter-spacing: 5px;
  margin-right: 10px;
}

.bottom-arrow {
  border-bottom: 5px solid #6a0136;
}
.bottom-arrow:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 30px auto;
  width: 0;
  height: 0;
  border-top: 20px solid var(--Very_Dark_Grayish_Blue);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  &hover {
    cursor: pointer;
  }
}

.attribution {
  margin-top: 30px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .user-area {
    display: flex;
    align-items: center;
    position: relative;
  }

  .share-container {
    position: absolute;
    bottom: 67px;
    left: 46%;
    transform: translate(49%, 0);
    display: none;
    background: var(--Very_Dark_Grayish_Blue);
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 1;
  }

  .share-container::after {
    content: "";
    position: absolute;
    bottom: -39px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 20px;
    border-style: solid;
    border-color: var(--Very_Dark_Grayish_Blue) transparent transparent
      transparent;
  }
  .user-area {
    display: flex;
  }

  #share {
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 315px;
    margin: 60px auto auto;
    flex-direction: column;
  }
  .container .artical-image {
    max-width: 100%;
    height: auto;
    border-radius: 18px 18px 0 0;
  }
  .artical {
    padding: 30px 30px 0 30px;
  }
  .artical h1 {
    font-size: 1rem;
  }
  .c2 {
    padding: 0;
  }
  .artical p {
    font-size: small;
  }

  .user-area {
    margin: 16px 30px;
    display: flex;
  }

  .user-area.hide {
    display: none;
  }

  .user-area .user-image {
    max-width: 43px;
    margin-right: 20px;
  }

  .user-area .name-date .name {
    font-size: 0.8rem;
  }

  .user-area .name-date .date {
    font-size: 0.81rem;
  }

  .share-container {
    position: relative;
    justify-content: center;
    display: none;
    border-radius: 0 0 10px 10px;
  }
}
